* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent {
    display: inline-block
    
}

.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    top: 150px ;
    left: 950px;
    position: static; /* es el valor por defecto del navegador  */
    border: 2px black solid;
   
}

#one {
    background-color: rgba(255, 0, 0, 0.5);
    top: 390px;
    left: 808px;
    z-index: -1;
}

#two {
    background-color: rgba(255, 166, 0, 0.5);
    top: 367px;
    left: 847px;
    z-index: 0;
}

#three {
    background-color: rgba(255, 255, 0, 0.5);
    top: 346px;
    left: 886px;
    z-index: 1;
}

#four {
    background-color: rgba(0, 128, 0, 0.5);
    top: 324px;
    left: 926px;
    z-index: 2;
}
