/* Esta medida absoluta px aunque cambiemos el tamaño de la 
pantalla seguira teniendo 18px. */
.px {
    font-size: 18px;
}

/* medida relativa % este no lo hagas con texto es lioso no lo 
dice el de platzi lo dice tu yo del pasado */
.% {
    font-size: 100%
    }

    /* mala practica caja-azul */
.caja-azul {
    background-color: rgba(0, 234, 255, 0.548);
    width: 600px;
    height: 500px;
}

.caja-rosa {
    background-color: rgba(241, 72, 156, 0.965);
    width: 100%;
    height: 500px;
}

