
html {
    font-family: arial,sans-serif;
}


.RNNXbg:hover, .RNNXbg {
    background-color: #fff;
    box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .24);
    border-color: rgba(223, 225, 229, 0);
}









.z1asCe {display: inline-block;fill: currentColor;height: 24px;line-height: 24px;position: relative;width: 24px;}  .z1asCe svg {display: block;height: 100%;width: 100%;} input {font-family: arial,sans-serif; font-size: 14px;} button {margin: 0;}
.wFncld {color: #9aa0a6;height: 20px;width: 20px;} .a4bIc { display: flex; flex: 1; flex-wrap: wrap;} .gsfi, .lst { font: 16px arial,sans-serif; color: rgba(0, 0, 0, .87); line-height: 34px; height: 34px !important;} .pR49Ae { color: transparent; flex: 100%; white-space: pre; height: 34px;} .gLFyf {background-color: transparent;border: none;margin: 0;padding: 0;color: rgba(0,0,0,.87);word-wrap: break-word;outline: none;display: flex;flex: 100%;-webkit-tap-highlight-color: transparent;margin-top: -37px;height: 34px;font-size: 16px;} .dRYYxd {display: flex;flex: 0 0 auto;margin-top: -5px;align-items: stretch;flex-direction: row;} .clear-button {flex: 1 0 auto;display: none;cursor: pointer;align-items: center;border: 0;background: transparent;outline: none;padding: 0 8px;line-height: 44px;} .XoaYSb {display: flex;} .clear-button { padding-right: 4px;} .lBbtTb {height: 100%;color: #80868b;vertical-align: middle;outline: none;} .lBbtTb {margin-right: 12px;} .Tg7LZd {height: 44px;width: 44px;background: transparent;border: none;cursor: pointer;flex: 0 0 auto;padding: 0;} .Tg7LZd {flex: 0 0 auto;padding-right: 13px;} .FAuhyb {background: none;color: #4285f4;height: 24px;width: 24px;margin: auto;}
.FqnKTc {border-left: 1px solid #dfe1e5;height: 65%;}






.RNNXbg {
    width: 717px;
    background: #fff;
    display: flex;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
    height: 39px;
    width: 690px;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}



body {
    margin: 0;
    background: #fff;
    color: #202124;
}

body, h1 {
    font-family: arial,sans-serif;
    font-size: 14px;
}

.SDkEP{
    flex: 1;
    display: flex;
    padding: 5px 4px 0 16px;
    padding-left: 14px;

}

.iblpc {
    display: flex;
    align-items: center;
    padding-right: 6px;
    margin-top: -7px;
}

.iblpc span {
    display: none;
}

.hsuHs {
    margin: auto;
}













* {}
* {}
* {}
* {}
* {}
* {}
* {}
* {}