* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:gray;

}


/* empezamos reto de cromo */
.todo {

}

.nubes {
z-index: 0;
position: absolute;
display: inline-block;
width: 570px;
height: 770px;
min-width: 369.38;
top: ;
left: 513.5px;
border: 15px #82b8f5ad inset;
border-radius: 20px;
box-shadow: 0px 0px 1px red inset, 0px 0px 25px blue;
}
 


.pokemon {
position: absolute;
width: 540px;
height: 385px;
top: 55px;
left: 528.5px;
border-left: 5px #E3E4E5 solid;
border-right: 5px #E3E4E5 solid;
    }

/* simbolos */
/* simbolos bomba-separada */
.llama-muy-pequeña{
position: absolute;
z-index: 1;
top: 450px;
left: 530.5px;
}

.incolora-grande{
position: absolute;
z-index: 1;
top: 450px;
left: 560.5px;
}

.incolora-grande1{
position: absolute;
z-index: 1;
top: 450px;
left: 590.5px;
}

/* simbolos fuego-abrasador*/

.llama-pequeña{
position: absolute;
z-index: 1;
top: 570px;
left: 530.5px;
}

.incolora-grande2{
position: absolute;
z-index: 1;
top: 570px;
left: 560.5px;
}

.incolora-grande3{
position: absolute;
z-index: 1;
top: 570px;
left: 590.5px;
}

.incolora-grande4{
position: absolute;
z-index: 1;
top: 570px;
left: 620.5px;
}

.incolora-grande5{
position: absolute;
z-index: 1;
top: 570px;
left: 650.5px;
}
/* simbolo de fuego de .pv160 */
.llama{
position: absolute;
z-index: 1;
top: 18px;
left: 1032px;
width: 35px;
height: 35px;
}

/* textos */

div {

position: absolute;
z-index: 1;
font-family: Garamond, verdana;
font-size: 20px;
width: 517px;
height: 517px;
}

div.bomba-separada{
position: absolute;
text-align: center;
padding-right: 30px;
font-size: 1em;
top: 440px;
left: 620px;
width: 450px;
height: 40px;
}
    
div.bomba-separada-parrafo{
text-align:justify;
top: 480px;
left: 540.5px;
width: 520px;
height: 28px;
}    

div.fuego-abrasador{
position: absolute;
text-align: justify;
font-size: 1em;
top: 560px;
left: 569px;
width: 500px;
height: 40px;
padding-left: 110px;
}

div.fuego-abrasador-parrafo{
position: absolute;
text-align:justify;
top: 600px;
left: 540.5px;
width: 520px;
height: 28px;
}  

.letra-pequeña{
top: 412px;
left: 534px;
border-radius: 60px 0px;
border-left: 15px rgb(0, 0, 0) inset;
border-right: 15px rgb(0, 0, 0) inset;
border-top: 2px rgb(0, 0, 0) inset;
border-bottom: 2px rgb(0, 0, 0) inset;
text-align: center;
width: 530px;
height: 28px;
background-color: rgba(230, 229, 228, 0.383) ;
font-size: 15px;

}

.se-dice {
position: absolute;
left: 600px;
top: 700px;
z-index: 1;
font-size: 10px;
font-family: Garamond, verdana;
}


.nombre{
position: absolute;
background-color: rgba(230, 229, 228, 0.63) ;
border-left: 15px rgb(0, 0, 0) inset;
border-right: 15px rgb(0, 0, 0) inset;
border-top: 2px rgb(0, 0, 0) inset;
border-bottom: 2px rgb(0, 0, 0) inset;
text-align: center;
left: 630px;
top: 15px;
z-index: 0;
font-size: 34px;
font-weight: 600;
width: 300px;
}

.cientosesenta {
position: absolute;
text-align: center;
z-index: 1;
font-size: 32px;
font-weight: 700;
top: 15px;
left: 960px;
height: 20;
}

.pv {
    position: absolute;
    text-align: center;
    z-index: 1;
    font-size: 10px;
    top: 37px;
    left: 950px;
    height: 10;
    background: linear-gradient(top, black 10%, orangered 75%, yellow);
}

/* figuras de logo */

.degradado{
    position: absolute;
    z-index: 1;
    width: 139px;
    height: 49px;
    top: 15px;
    left: 528px;
    border-radius: 0px 0px 70px 0px / 0px 0px 74px 0px;
    box-shadow: 1px 1px 10px black;
}

.degradado1{
    position: absolute;
    z-index: 1;
    width: 75px;
    height: 49px;
    top: 64px;
    left: 528px;
    border-radius: 0px 0px 70px 0px / 0px 0px 74px 0px;
    box-shadow: 1px 1px 10px black;
}

.degradado2{
    position: absolute;
    z-index: 1;
    width: 60px;
    height: 55px;
    top: 43px;
    left: 534px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

.logo-letras{
    position: absolute;
    z-index: 2;
    width: 120px;
    top: 12.5px;
    left: 530px;
    
}

.logo-unicornio{
    position: absolute;
    z-index: 2;
    width: 53px;
    height: 60px;
    top: 40px;
    left: 538px;
}



